*{
    margin: 0;
    padding: 0;
}

body{

    background-color: #B19A81;
    text-align: center;
}

.main{

    height: 70vh;
    display:flex ;
    justify-content: center;
    align-items: center;
}

.game{

    height: 60vmin;
    width: 60vmin;
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.gamebox{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border : none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    background-color: #8F857B;
    color: #F8F0E5;  
}

#reset{

    padding: 1rem;
    font-size: 1.5rem;
    background-color: #956B4B;
    border-radius: 1rem;
    border: none;
}

#new-game{

    padding: 1rem;
    font-size: 1.5rem;
    background-color: #956B4B;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #800f2f;
    font-size: 5vmin;
}

.msg-container{
    heigth : 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 4rem;
}
.hide{
    display: none;
}
